<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meet the Team</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  

      <!-- NEW NEW -->
      <link rel="shortcut icon" type="image/x-icon" href="/static/css/Images/dollar_sign.png">
      <title>Income Prediction with Machine Learning</title>
    
      <!-- Bootstrap https://bootswatch.com/yeti/ -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    
      <!-- Our CSS -->
      <link rel="stylesheet" href="/static/css/style.css">

</head>


<body>

  <!-- NAVIGATION -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="pull-left"><img id="logo" src="/static/css/Images/dollar_sign.png"></a>
    <a class="navbar-brand" href="/predictor">Can Machine Learning Predict Income Levels?</a>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Model Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Project Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/predictor">Income Predictor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/team">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

   <!-- Team Section -->
    <!-- <section id="team" class="bg-white"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meet the Team</h2>
                    <h3 class="section-subheading text-muted">UMN Data Visualization and Analyitics Team 3</h3>
                </div>
            </div>
            <!-- Sofanit -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="/static/css/Images/sofi.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sofanit Habte</h4>
                        <p class="text-muted">Random Forest/Neural Networks</p>
                        <h3><a class='btn btn-link' href="">View Sofanit's LinkedIn</a></h3>
                        
                    </div>
                </div>
                <!-- Yonis -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="/static/css/Images/yonis.jpg" class="img-responsive img-circle" alt="">
                        <h4>Yonis Hassan</h4>
                        <p class="text-muted">Flask Operations/Hosting</p>
                        <h3><a class='btn btn-link' href="https://www.linkedin.com/in/yonis-hassan-6312a1a5/">View Yonis' LinkedIn</a></h3>
                    </div>
                </div>
                <!-- Noah -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="/static/css/Images/noah.jpg" class="img-responsive img-circle" alt="">
                        <h4>Noah LeVoir</h4>
                        <p class="text-muted">ETL/HTML/CSS</p>
                        <h3><a class='btn btn-link' href="https://www.linkedin.com/in/noah-levoir-754a82158/">View Noah's LinkedIn</a></h3><br />
                    </div>
                </div>
                <!-- Emerson -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="/static/css/Images/emerson.jpg" class="img-responsive img-circle" alt="">
                        <h4>Emerson Williams-Molett</h4>
                        <p class="text-muted">Logistic Regression/K Nearest Neighbor</p>
                        <h3><a class='btn btn-link' href="https://www.linkedin.com/in/emerson-williams-molett/">View Emerson's LinkedIn</a></h3>
                    </div>
                </div>              
            </div>
        </div>
    <!-- </section> -->

    <!-- Footer-->
    <div id="footer">
      <p>UMN DVA Project 3<br>Team 3</p>
    </div>

</body>

</html>