<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" type="image/x-icon" href="/static/css/Images/dollar_sign.png">
  <title>Income Prediction with Machine Learning</title>

  <!-- Bootstrap https://bootswatch.com/yeti/ -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
  <!-- NAVIGATION -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="pull-left"><img id="logo" src="/static/css/Images/dollar_sign.png"></a>
    <a class="navbar-brand" href="/predictor">Can Machine Learning Predict Income Levels?</a>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Model Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">Project Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/predictor">Income Predictor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">About Us</a>
        </li>
      </ul>
    </div>
  </nav>


    <div class="hero-image">
      <div class="hero-text">
        <h1>About The Project</h1>
        <p>Our team tested 4 different machine learning models. Below we describe each model, why it was chosen, and the analysis that our team did. Please see the below descriptions and explanations. At the end you will have a better understanding and get to try out the model that we found to be the most accurate.</p>
      </div>
    </div>
  <!-- BODY -->
  <div class="container">

    <!-- Header -->
    <!-- <div class="row"> -->
      <div class="col-md-12">
        <div class="text-center">
          <h1>About The Project</h1>
        </div>
      <!-- </div> -->
    </div>



    <!-- Opening Explanation -->
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>Project Overview and Goals</h3>
          <p>The goal of this project is to assess four different machine learning models to determine which one is the most accurate. Our team has chosen to carry out this assesment on Census Income Data courtesy of <a href="https://archive.ics.uci.edu/ml/datasets/Census+Income">UCI's Machine Learning Repository</a>. This dataset contains 15 input factors that can be used to indicate whether ones' income level is above or below $50,000. By training each model on this dataset, our team is able to determine which model can most accurately predict the income level, and which is ready to perform on new data.</p>
          <p>To accomplish this project, and to be in-line with certain requirements, our team brought together a number of different coding languages, strategies, and libraries. We facilitated <i>Scikit-Learn</i> as well as <i>Python</i> in a <i>Jupyter Notebook</i> to perform a small amount of cleanup on the dataset and to run our Machine Learning Models. In addition to that, our team built out this webpage for our project using <i>HTML/CSS/Bootstrap</i> and hosted it using a <i>Flask Server</i> on <i>Heroku</i>.</p>
      </div>
          <!-- Image -->
      <div class="col-md-6 col-sm-12 color-row">
        <div class="text-center">
          <img src="/static/css/Images/UCI_logo.gif" class="img-responsive" alt="">
        </div>
        <!-- <a href="#"><img src="/static/css/UCI_Data_Description.png"></a> -->
      </div>
      
      <!-- Remaining Projext Explanation -->
      <div class="col-md-6 col-sm-12 color-row">
          <p>After some deliberation and research, our team selected the following four machine learning models to focus on for this project:</p>
          <ul>
            <li>Logistic Regression</li>
            <li>K Nearest Neighbors</li>
            <li>Random Forest</li>
            <li>Neural Network</li>
          </ul>
          <p>These four models were chosen as they are capable of handle a ??????/////</p>
          <h3>A Deeper Dive into the Data</h3>
          <p>In an effort to dive deeper into our data, after looking at each of these models, our team turned our focus to the input factors of our dataset. We sought to analyze the strengths of the inputs to determine which, if any, were having a more significant impact on the outcomes of our models. We understand that these findings would not affect which model is the best performer, but chose this additional analysis on our dataset as we felt it would lead to a deeper understanding of our data, our models, and our project as a whole.</p>
      </div>

      <!-- Image -->
      <div class="col-md-6 col-sm-12">
        <div class="picture-centered">
          <img src="/static/css/Images/UCI_Data_Description.png" class="img-responsive" alt="">
        </div>
        <!-- <a href="#"><img src="/static/css/Images/UCI_logo.gif"></a> -->
        <!-- <a href="#"><img src="/static/css/UCI_Data_Description.png"></a> -->
      </div>

      <!-- Finish Project Explanation full page -->
      <div class="col-md-12">
        <h3>Presenting the Project</h3>
          <p>To display our project and our findings, the team has elected to design a webpage and host it using Heroku's services. We desire for our work to be easily accessible and therefore made this decision to host on a public space that is accessible to anyone who has the link to the webpage. The vision for this webpage is a one-stop-shop where anyone can come along, read about the project, read the analysis of each model, try out our best performing model with our interactive demo, and even connect with the team behind it all.</p>
        <h3>An Interactive Model</h3>
          <p>One of the most exciting parts of this project is coming out of it with an interactive demo that anyone can try. If you want to interact with the model that we found to be the best predictor of our dataset follow the link below or click on the <i>Income Predictor</i> tab at the top of the page. There you can add in your own values for some of the input factors and see if our model can accurately predict if income is above or below $50,000!!</p>
          <a href="http://127.0.0.1:5500/templates/predictorions_model.html">Try Out Our Best Performing Model in this Interactive Activity!</a>
        </div>

    <!-- End Row -->
    </div>

  <!-- end container -->
  </div>


  <!-- Footer-->
  <div id="footer">
    <p>UMN DVA Project 3<br>Team 3</p>
  </div>

<!-- Might Need D3 for event handler -->
  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

</body>

</html>