<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" type="image/x-icon" href="/static/css/Images/dollar_sign.png">
  <title>Income prediction with Machine Learning</title>

  <!-- Bootstrap https://bootswatch.com/yeti/ -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
  <!-- NAVIGATION -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="pull-left"><img id="logo" src="/static/css/Images/dollar_sign.png"></a>
    <a class="navbar-brand" href="/">Can Machine Learning predict Income Levels?</a>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Model Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Project Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/predictor">Income predictor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- Opening for analysis -->
  <div class="hero-image">
    <div class="hero-text">
      <!-- <div class="background-image"> <img src="/static/css/Images/ML_Networks.jpeg" alt=""></div> -->
      <h1>Machine Learning Models</h1>
      <p>Our team tested 4 different machine learning models. Below we describe each model, why it was chosen, and the analysis that our team did. Please see the below descriptions and explanations. At the end you will have a better understanding and get to try out the model that we found to be the most accurate.</p>
    </div>
  </div>

  <!-- First Model Analysis Breakdown -->
  <!-- Logistical Regression -->
  <div class="container">
    <div class="row">
      <div class="col-md-7 color-row">
        <h3>Logistical Regression</h3>
        <p>A Logistic regression is a classification algorithm used to predict a discrete set of classes or categories.</p>
        <p>In this instance, we are training the model to predict if a person makes greater than $50K or less than $50K annually. Our logistic regression model had a training score of 79.39%. The test data has a score of 80.73%. As a result, the logistic regression test had an accuracy of 80.73%.</p>
      </div>
      <!-- Image -->
      <div class="col-md-5 color-row">
        <div class="text-center">
          <img src="/static/css/Images/UCI_logo.gif" class="img-responsive" alt="">
        </div>
      </div>
    </div>

    <!-- Second Model Analysis Breakdown -->
    <!-- K Nearest Neighbor -->
    <div class="row">
      <!-- Image -->
      <div class="col-md-5 color-row">
        <div class="text-center">
          <img src="/static/css/Images/UCI_logo.gif" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-md-7 color-row">
        <h3>K Nearest Neighbor</h3>
        <p>A K Nearest Neighbor algorithm assumes the similarity between the new case/data and available cases and put the new data into the category that is most similar to the available categories.</p>
        <p>In this instance, we are training the model to predict if a person makes greater than $50K or less than $50K annually.  Our KNN model had a training score of  85.00%. The test data has a score of 83.33%. As a result, the KNN test has an accuracy of 83.33%</p>
      </div>
    </div>

  <!-- Third Model Analysis Breakdown -->
  <!-- Random Forest Regression -->
  <div class="container">
    <div class="row">
      <div class="col-md-7 color-row">
        <h3>Random Forest</h3>
        <p>A Random Forest machine learning model is... as well as this is s just an extra text section to see how the text wraps and how longs this row s is and thats about it. this will be updated hopefully sooner rather than now</p>
        <p>PLACEHOLDER!! TEXT FOR MORE ANALYSIS</p>
      </div>
      <!-- Image -->
      <div class="col-md-5 color-row">
        <div class="text-center">
          <img src="/static/css/Images/UCI_logo.gif" class="img-responsive" alt="">
        </div>
      </div>
    </div>

    <!-- Fourth Model Analysis Breakdown -->
    <!-- Neural Network -->
    <div class="row">
      <!-- Image -->
      <div class="col-md-5 color-row">
        <div class="text-center">
          <img src="/static/css/Images/UCI_logo.gif" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-md-7 color-row">
        <h3>Neural Network</h3>
        <p>A Neural Network machine learning model is... as well as this is s just an extra text section to see how the text wraps and how longs this row s is and thats about it. this will be updated hopefully sooner rather than now</p>
        <p>PLACEHOLDER!! TEXT FOR MORE ANALYSIS</p>
      </div>
    </div>


  <!-- End Container -->
  </div>

  <!-- Footer-->
  <div id="footer">
    <p>UMN DVA Project 3<br>Team 3</p>
  </div>

<!-- Placeholder, Leaflet, D3, and Plotly -->
<!-- Team to discuss what we want to use or add -->

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Our JS -->
  <script type="text/javascript" src="/static/js/app.js"></script>

</body>

</html>